<div class="header  no-padding no-marign">
    <div class="header-center row">
        <div class="logo col-lg-3 col-md-3 col-sm-6 col-12">
            <a class="logo_link" href="./trangchu.html">
                Haisan.Online
            </a>
        </div>
        <div class="search col-lg-6 col-md-5 col-sm-6 no-margin col-12">
            <div class="input-group ">
                <input type="text" class="form-control" placeholder="Tìm kiếm..." aria-label="search" aria-describedby="button-addon2">
                <button class="btn bg-white" type="button" id="btn_search">
                    <i class="fas fa-search"></i>
                </button>
            </div>

        </div>
        <div class="col-lg-3 col-md-4 ">
            <ul class="nav shopping-cart-nav">
                <li class="nav-item nav-item-hotline">
                    <i class="fa-solid fa-phone"></i>
                    <a class="nav-link btn-hotline" href="tel:0355 370 347">

                        <span class="small-text">
                            Gọi mua hàng
                        </span> 0355 370 347
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link shopping-cart mini-cart" href="/gio-hang">
                        <span class="number cart-number" data-number="0">
                            0
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>


</div>
